
{% extends "layout.html" %}

{% block pageTitle %}
  Home – Hide this page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Hide this page (HtP) sandbox</h1>

      <h2 class="govuk-heading-m">List of current versions of Hide this page</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/moj-test">MoJ: LAA Check if you can get legal aid service</a>
        </li>
        <li>
          <a class="govuk-link" href="/dwp-test">DWP: Apply for help arranging child maintenance</a>
        </li>
        <li>
          <a class="govuk-link" href="/check-your-answers-page">Check your answers page</a>
        </li>
        <li>
          <a class="govuk-link" href="/addresses-page-test">Addresses page</a>
        </li>
        <li>
          <a class="govuk-link" href="/bank-details-page-test">Bank details page</a>
        </li>
        <li>
          <a class="govuk-link" href="/questions-page-test">Question page</a>
        </li>
      </ul>
      </div>
    </div>
  </div>

{% endblock %}
