{% extends "layout.html" %}

{% block pageTitle %}
Legal Aid test page
{% endblock %}

{% block content %}
<a href="/" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend">
        <h1 class="govuk-heading-xl">Safety feature page</h1>
      </legend>

      <h2 class="govuk-heading-l">Using ‘Hide this page’ and staying safe online</h2>

      <p class="govuk-body">This website uses a safety feature that helps you to quickly hide the page you’re on. It’s
        found to be less noticeable than closing the web browser completely.</p>

      <p class="govuk-body">The ‘Hide this page’ button will quickly hide the page you’re on. This might be less
        noticeable to someone around you than closing the web browser completely.</p>

      <h3 class="govuk-heading-m">How it works</h3>

      <p class="govuk-body">When you click the ‘Hide this page’ button, it will open a new tab and navigate to [URL].
      </p>

      <p class="govuk-body">The previous tab will navigate to [URL] and make your web browser history appear as if
      you’ve been looking at [X].</p>

      <p class="govuk-body">However, it does not actually erase your history. If you use the back button on your
      browser, it will return back to the pages you were on before.</p>

      <h3 class="govuk-heading-m">Staying safe online</h3>

      <p class="govuk-body">Use your web browser settings to increase your privacy, such as turning off browsing
      history or using the browser in private/incognito mode</p>

      <p class="govuk-body"> If you think your devices or internet search activities are being monitored, try to use a
        device that isn’t being monitored. That should be a device that the person does not or has not had physical or
        remote access to. This is the safest thing to do if you don’t want someone to know that you are visiting certain
        websites.
      </p>

  </div>
  <div class="govuk-grid-column-one-third">
    <!-- Code sits above the 'skip to main content' <div> to warn users that this feature exists on the page -->
    <div class="govuk-quick-exit__container govuk-visually-hidden">
      <p class="govuk-body">
        To leave the page quickly, press the escape key.
      </p>
    </div>

    <!-- Code used for the component and sits inside the <main> content wrapper -->
    <div class="govuk-quick-exit__container govuk-quick-exit__enabled">
      <div class="govuk-quick-exit__position">
        <a href="https://www.google.com" id="quick-exit" tabindex="-1"
          class="govuk-button govuk-button--warning govuk-quick-exit">
          <strong>Hide this page</strong>
          <span class="govuk-visually-hidden">Or press escape key to hide this page</span>
        </a>
        <p class="govuk-body govuk-quick-exit--info govuk-!-font-size-14">
          (Or press Esc key)
        </p>
      </div>
      <p class="govuk-button govuk-quick-exit__IEsizing">
        <strong>Hide this page</strong>
      </p>
    </div>
  </div>
</div>

{% endblock %}